@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wdth,wght@75..100,400..700&family=Sour+Gummy:ital,wdth,wght@0,100..125,100..900;1,100..125,100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-maomao-light: #beedc8;
    --color-maomao-dark: #365b61;
    --font-dyna: 'DynaPuff', Tahoma; /*Judul*/
    --font-sour: 'Sour Gummy', Arial; /*text*/
}

.btn{
    @apply font-sour py-2 border-1 border-slate-800 shadow-lg shadow-black/100 hover:shadow-none text-white transition-shadow duration-400 ease-in-out cursor-pointer select-none flex justify-center items-center focus:outline-2 outline-offset-1 outline-maomao-light md:text-lg text-base;
}

.grid-level{
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
}

.card-level{
    @apply bg-white/80 flex-col rounded-lg p-4 shadow-lg relative select-none cursor-pointer transition-transform duration-300 ease-in-out hover:scale-102 hover:bg-white/90;
}
.title-card-level{
    @apply font-dyna text-xl font-bold;
}
.author-card-level{
    @apply text-gray-700;
}
.btn-like-card-level{
    @apply text-red-600 bg-red-600/40 border border-red-600 rounded-full absolute py-1 px-2 top-1 right-1 shadow-lg shadow-black/60;
}
.btn-like-card-level-active{
    @apply text-white bg-red-600 rounded-full absolute py-1 px-2 top-1 right-1 shadow-lg shadow-black/60;
}

/* Detail Page */
.center-center{
    @apply flex justify-center items-center;
}
.card-detail{
    @apply bg-maomao-dark/90 rounded-lg shadow-lg border-maomao-light/50 border;
}
.card-w-full{
    @apply w-19/20 md:w-39/40 lg:w-79/80;
}

/* About Page */
.icon-about{
    @apply absolute size-15 hover:rotate-0 top-18/20 md:top-17/20;
}
